*.iml
.gradle
/local.properties
/.idea
/.idea/*
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
.DS_Store
/build
/buildSrc/.gradle
/buildSrc/build
/captures
.externalNativeBuild
.cxx
local.properties
